@import url('fonts/Satoshi_Complete/Fonts/WEB/css/satoshi.css');

:root {
    --text-color: #34323C;
    --link-color: #46534A;
    --background-color: #BFABD1;
    --nav-text-color: #EEE6F6;
    --nav-background-color: #456C4C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Satoshi-medium';
    color: var(--text-color);
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* navbar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 50px;
    background-color: var(--nav-background-color);
}

nav .nav-left a{
    color: var(--nav-text-color);
    font-size: 20px;
    font-weight: 550;
}

nav .nav-right a{
    color: var(--nav-text-color);
    margin: 0 10px;
}

nav .nav-right a:last-child {
    color: var(--nav-background-color);
    background-color: var(--nav-text-color);
    padding: 5px 15px;
    border-radius: 10px;
}

nav .nav-right a span {
    margin-left: 5px;
}

/* hero-section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    border-radius: 20px;
    margin: 50px 50px;
    margin-bottom: 100px;
    gap: 100px;
    background: var(--nav-text-color);
}

.hero-section .text {
    flex: 5;
    text-align: justify;
    text-align-last: left;
    hyphens: auto;
}
.hero-section .text h2 {
    font-size: 35px;
    margin-bottom: 25px;
}

.hero-section .text .links {
    margin-top: 25px;
}

.hero-section .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .headshot img {
    width: 300px;
    border-radius: 50%;
    animation: float 7s linear infinite;
}

.links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

@keyframes float {
    from {
        transform: rotate(0deg) translateY(-5px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateY(-5px) rotate(-360deg);
    }
}

/* timeline-section */
/* Timeline Container */
.timeline-section {
    position: relative;
    padding: 50px 50px;
    border-radius: 20px;
    margin: 50px 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-section > h2 {
    font-size: 35px;
    margin-bottom: 15px;
    text-align: center;
}

/* Card container */
.card {
  position: relative;
  max-width: 400px;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid var(--nav-text-color);
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: var(--nav-text-color);
  color: var(--link-color);
  border-radius: 10px;
  padding: 10px;
  flex: 5;
  text-align: justify;
  text-align-last: left;
  hyphens: auto;
}

/* Title of the card */
.title {
  color: var(--text-color);
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid var(--link-color);
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}

/* skills-section */
.skills-section {
    padding: 50px 50px;
    margin-bottom: 100px;
    background: var(--nav-text-color);
    border-radius: 20px;
    margin: 100px 50px;
    margin-bottom: 100px;
}

.skills-section h2 {
    text-align: center;
    font-size: 35px;
}

.skills-section .text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    hyphens: auto;
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    padding: 5px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
}

.skills-section .cells .cell i {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}

.skills-section .cells .cell span {
    font-size: 18px;
}

/* projekte-section */
.projekte-section {
    padding: 50px 50px;
    margin-bottom: 150px;
    background: var(--nav-text-color);
    border-radius: 20px;
    margin: 100px 50px;
    margin-bottom: 100px;
}

.projekte-section h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "previous button" to the left */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slideshow-container .text {
    color: var(--text-color);
    font-size: 20px;
    padding: 25px 0;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.mySlides .description {
    color: var(--text-color);
    padding: 5px 15px;
    bottom: 10px;
    width: 100%;
    text-align: center;
    hyphens: auto;
}

/* Number text (1/3 etc) */
.mySlides .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 15px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* kontakt-section */
.kontakt-section {
    padding: 50px 50px;
    margin: 100px 50px;
    margin-bottom: 100px;
    background: var(--nav-text-color);
    border-radius: 20px;
    margin-bottom: 150px;
}

.kontakt-section h2 {
    font-size: 35px;
}

.kontakt-section .group {
    display: flex;
    gap: 50px;
}

.kontakt-section .group .text {
    text-align: justify;
    text-align-last: left;
    hyphens: auto;
    flex: 3;
    margin-top: 20px;
}

.kontakt-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.kontakt-section .group form input,
.kontakt-section .group form textarea {
    font-family: sans-serif;
    border: 2px solid var(--link-color);
    padding: 5px;
    margin-bottom: 15px;
    resize: none;
}

.kontakt-section .group form button {
    font-size: 16px;
    font-family: sans-serif;
    color: var(--nav-text-color);
    background-color: var(--link-color);
    border: none;
    height: 35px;
    cursor: pointer;
    transition: .1;
}

.kontakt-section .group form button:hover {
    filter: brightness(.9);
}

footer {
  text-align: center;
  padding: 3px;
  background-color: var(--nav-background-color);
  color: var(--nav-text-color);
}

@media (max-width: 875px) {
    /* hero-section */
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .head {
        width: 300px;
    }

    .hero-section .text h2 {
        font-size: 35px;
    }

    .hero-section .headshot img {
        width: 300px;
    }

    /* skills-section */
    .skills-section {
        flex-direction: column-reverse;
    }

    .skills-section .text h2 {
        font-size: 35px;
    }

    /* projekte-section */
    .projekte-section {
        text-align: center;
    }

    .projekte-section .group {
        flex-direction: column;
    }

    /* kontakt-section */
    .kontakt-section .group {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    /* navbar */
    nav {
        padding: 0 20px;
    }

    nav .nav-right a {
        font-size: 22px;
    }

    nav .nav-right a:last-child {
        color: var(--nav-text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .nav-right a span {
        display: none;
    }

    /* hero-section */
    .hero-section {
        padding: 0 20px;
    }

    .hero-section .text h2 {
        font-size: 20px;
    }

    /* skills-section */
    .skills-section {
        padding: 0 20px;
    }  

     /* projekte-section */
     .projekte-section {
        padding: 0 20px;
    }

     /* kontakt-section */
     .kontakt-section  {
        padding: 0 20px;
    }
}